# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.IDEA_HW1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\reps\IDEA_HW1\.idea\.idea.IDEA_HW1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
